/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* Variables de marca si las requieres */
}

/* 1. Valores por defecto (Modo Claro) */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* 2. Forzar Modo Oscuro si el usuario lo activa de forma manual */
html.dark {
  --background: #000000;
  --foreground: #ffffff;
}

/* 3. Respetar Modo Oscuro si viene predeterminado por el sistema del cliente */
@media (prefers-color-scheme: dark) {
  html:not(.light) {
    --background: #000000;
    --foreground: #ffffff;
  }
}

/* 4. Aplicar los colores a toda la aplicación */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Variante estricta para habilitar las utilidades dark: de Tailwind v4 */
@variant dark (html.dark &);